Django==1.8
gunicorn==19.6.0
beautifulsoup4==4.6.3
Django==1.8
google==2.0.1
google-api-core==1.5.1
google-auth==1.5.1
google-cloud==0.34.0
google-cloud-automl==0.1.1
google-cloud-vision==0.34.0
googleapis-common-protos==1.5.5
requests==2.20.0
selenium==3.141.0
grpcio==1.16.0

